# Ignorar dependencias
node_modules/

# Ignorar archivos sensibles
.env

# Ignorar temporales
backend/uploads/*
backend/audios/*
.DS_Store
Thumbs.db

# Ignorar logs y builds
*.log
frontend/dist/
backend/dist/
